.footer {
    bottom: 0;
    width: 100%;
    height: 60px;

    background-color: rgb(116 168 203);
    text-align: center;
    color: white;

    font-size: 20px;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;

    background-color: rgb(116 168 203);
    text-align: center;
    color: white;
    font-size: 40px;
}

.title {
    color: white;
    margin: 25px;

    text-decoration: none;
    float: inline-start;
}

.home {
    margin-right: 10px;
    color: white;
    margin: 45px;

    text-decoration: none;
    font-size: 25px;
    float: inline-end;
}

a:hover {
    color: rgb(220, 202, 169);
}